In [1]:
x = 5
print(x)

5

In [7]:
y = 10
print(y)

10

In [5]:
m = 0
for i in range(0,100):
    m = m + i    
print(m)

4950

In [6]:
# Comment

i = 0
while i < 100:
    i = i + 1

print(i)

100

In [8]:
x

5

In [12]:
def add_numbers(x, y, z = None):
    if (z == None):
        return x + y
    else:
        return x + y + z

add_numbers(2, 2, 2)

6

In [16]:
def do_math(a, b, kind = 'add'):
    if kind == 'add':
        return a + b
    else:
        return a - b
    
result_a = do_math(1, 2)
result_b = do_math(1, 2, 'else')

print(result_a)
print(result_b)

3
-1

In [18]:
t = (1, 'a', 2.0)
type(t)

tuple

In [19]:
l = [1, '1', 'word', 2.37]

for i in l:
    print(i)

1
1
word
2.37

In [20]:
i = 0
while i != len(l):
    print(l[i])
    i = i +1

1
1
word
2.37

---------------------------------x--------------------------------------

In [22]:
# We can use the 'in' operator to find if an element is part of a list
'a' in t

True

In [25]:
# Slicing
st = 'This is a string'

a1 = st[:3]  # From beginning to 3
a2 = st[7:]  # From 3 to end
a3 = st[7:-1]

print(a1)
print(a2)
print(a3)

Thi
 a string
 a strin

In [27]:
# Strings are just a list of characters in Python
# Hence, we can use same methods in lists and strings

firstname = 'Christopher'
lastname ='Brooks'

print(firstname + ' ' + lastname)
print(firstname * 3)
print('Chris' in firstname)  # We can find a substring in a string

Christopher Brooks
ChristopherChristopherChristopher
True

In [29]:
# We can split the string based on patterns and pick a specific element
firstname = 'Jonathan Alberto Suarez Caceres'.split()[0]
lastname = 'Jonathan Alberto Suarez Caceres'.split()[-1]

print(firstname + ' ' + lastname)

Jonathan Caceres

In [30]:
# Dictionaries are labeled collections that don't have an order
# It is often called a map in other languages

dic = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
dic['Christopher Brooks']

'brooksch@umich.edu'

In [32]:
# Adding elements to the dictionary
dic['Kevin Collins-Thompson'] = None
print(dic)

{'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com', 'Kevin Collins-Thompson': None}

In [34]:
# Iterating in dicts through the keys
for name in dic:
    print(dic[name])

brooksch@umich.edu
billg@microsoft.com
None

In [35]:
# Iterating through the values
for email in dic.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
None

In [39]:
# Iterating dicts through both keys and values
# This is 'unpacking'
for name, email in dic.items():
    print(name, ' : ', email)

Christopher Brooks  :  brooksch@umich.edu
Bill Gates  :  billg@microsoft.com
Kevin Collins-Thompson  :  None

In [40]:
# We can unpack values of a list, tuple, dict in variables
t2 = ('Jonathan', 'Suarez', 'jsuarez@example.com')
fname, lname, email = t2

In [41]:
fname

'Jonathan'

In [42]:
lname

'Suarez'

In [43]:
email

'jsuarez@example.com'

---------------------------------x--------------------------------------

In [ ]:
# Python 3 uses unicode by default

In [44]:
n_st = 'Chris' + str(34)
print(n_st)

Chris34

In [45]:
sales_record = {'price' : 3.24,
               'num_items' : 4,
               'person' : 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                            sales_record['num_items'],
                            sales_record['price'],
                            sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96