---------------------Lambda & List Comprehensions---------------------

In [2]:
# Lambda functions can have only one expresion

my_function = lambda a, b, c: a + b + c
my_function(1, 2, 3)

6

In [5]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    # lambda (item)
    print(split_title_and_name(person) == (lambda x: x.split()[0] + ' ' + x.split()[-1])(person))

True
True
True
True

In [7]:
#option 2
list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0] + ' ' + person.split()[-1], people))

True

In [10]:
# List comprehensions
# Abbreviated way of doign a loop

# Normal loop:
my_list = []
for number in range(0,20):
    if number % 2 == 0:
        my_list.append(number)
        
my_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [11]:
# With List Comprehensions
# Add number for number in the range 0 to 20 only if ...
my_list2 = [number for number in range(0,20) if number % 2 == 0]
my_list2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [13]:
# Usual function

def times_tables():
    lst = []
    for i in range(5):
        for j in range (5):
            lst.append(i*j)
    return lst

times_tables()

[0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 0, 2, 4, 6, 8, 0, 3, 6, 9, 12, 0, 4, 8, 12, 16]

In [17]:
# List comprehension

times_tables2 = [i * j for i in range(5) for j in range(5)]
times_tables2

[0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 0, 2, 4, 6, 8, 0, 3, 6, 9, 12, 0, 4, 8, 12, 16]

In [22]:
# EXAMPLE 2

lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

answer = [i + j + k + l for i in lowercase for j in lowercase for k in digits for l in digits]
answer[:50]

['aa00',
 'aa01',
 'aa02',
 'aa03',
 'aa04',
 'aa05',
 'aa06',
 'aa07',
 'aa08',
 'aa09',
 'aa10',
 'aa11',
 'aa12',
 'aa13',
 'aa14',
 'aa15',
 'aa16',
 'aa17',
 'aa18',
 'aa19',
 'aa20',
 'aa21',
 'aa22',
 'aa23',
 'aa24',
 'aa25',
 'aa26',
 'aa27',
 'aa28',
 'aa29',
 'aa30',
 'aa31',
 'aa32',
 'aa33',
 'aa34',
 'aa35',
 'aa36',
 'aa37',
 'aa38',
 'aa39',
 'aa40',
 'aa41',
 'aa42',
 'aa43',
 'aa44',
 'aa45',
 'aa46',
 'aa47',
 'aa48',
 'aa49']