# Assignment 1

In [41]:
import re
import numpy as np
import pandas as pd

In [1]:
doc = []
with open("data/dates.txt") as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head()

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
dtype: object

In [147]:
##############
def matcher1(x):
    try:
        # 04/20/2009; 04/20/09; 4/20/09; 4/3/09
        match = re.findall(r"[\d]{1,2}[/\-][\d]{1,2}[/\-][\d]{2,4}", x)[0]
        return match
    except:
        return np.nan

##############
def matcher2(x):
    try:
        # Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009
        match = re.findall(r"[^\W\d_]{3,}[\-\s\.]{1,2}[\d]{1,2}[\-\s\,]{1,2}[\d]{4}", x)[0]
        return match
    except:
        return np.nan

##############
def matcher3(x):
    try:
        # 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
        match = re.findall(r"[\d]{1,2}\s[^\W\d_]{3,}[\-\s\.]{1,2}[\d]{4}", x)[0]
        return match
    except:
        return np.nan

##############
def matcher4(x):
    try:
        # Feb 2009; Sep 2009; Oct 2010
        match = re.findall(r"[^\W\d_]{3}\s[\d]{4}", x)[0]
        return match
    except:
        return np.nan

##############
def matcher5(x):
    try:
        # 6/2008; 12/2009
        match = re.findall(r"[\d]{1,2}/[\d]{4}", x)[0]
        return match
    except:
        return np.nan

##############
def matcher6(x):
    try:
        # 2009; 2010
        match = re.findall(r"[\d]{4}", x)[0]
        return match
    except:
        return np.nan

######################################################################
test = df.apply(lambda x: matcher6(x))

print(f"Solved cases: {test.notna().sum()}")
test[test.notna()]

Solved cases: 428

7      9080
14     1990
15     2011
17     1976
22     9079
       ...
495    1979
496    2006
497    2008
498    2005
499    1980
Length: 428, dtype: object

In [142]:
x = df[265]
print(x)

print(f"Match result: {matcher1(x)}")

.  Pt reports h/o difficulty with EtOH and opioids. EtOH: 1st use at age 10, regular use beginning in high school, more problematic at age 25 when started losing things.  Drinking 12 beers/day over past year since returning to State College from Alaska.  Unsure of heaviest use period.  h/o frequent blackouts.  Has passed out and woken up in variety of places.  h/o withdrawal symptoms, 1st detox at age 25, no h/o withdrawal seizure, no DTs.  opioids: 1st use at age 21 (perocet).  Began using daily at age 25, at worst was using 8 to 10 percocets per day (depending on dose).  Detox in April 1989, was using perioidically since back in State College, but has primarily been drinking.  Last use 3 mths ago.  no h/o suboxone or methadone.  No h/o accidental OD.  No h/o heroin use.  No h/o IVDU.  tobacco: 1 ppd since age 16, some interest in quitting, not right now.  H/o quitting for a week.

Match result: nan

In [140]:
df[df.str.contains("1st")]

241    sLanguage based learning disorder, dyslexia.  ...
265    .  Pt reports h/o difficulty with EtOH and opi...
dtype: object

In [149]:
def matcher(x):
    ### MATCHER 1
    try:
        # 04/20/2009; 04/20/09; 4/20/09; 4/3/09
        match = re.findall(r"[\d]{1,2}[/\-][\d]{1,2}[/\-][\d]{2,4}", x)[0]
        return match
    except:        
        ### MATCHER 2
        try:
            # Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009
            match = re.findall(r"[^\W\d_]{3,}[\-\s\.]{1,2}[\d]{1,2}[\-\s\,]{1,2}[\d]{4}", x)[0]
            return match
        except:
            ### MATCHER 3
            try:
                # 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
                match = re.findall(r"[\d]{1,2}\s[^\W\d_]{3,}[\-\s\.]{1,2}[\d]{4}", x)[0]
                return match
            except:
                ### MATCHER 4
                try:
                    # Feb 2009; Sep 2009; Oct 2010
                    match = re.findall(r"[^\W\d_]{3}\s[\d]{4}", x)[0]
                    return match
                except:
                    ### MATCHER 5
                    try:
                        # 6/2008; 12/2009
                        match = re.findall(r"[\d]{1,2}/[\d]{4}", x)[0]
                        return match
                    except:
                        ### MATCHER 6
                        try:
                            # 2009; 2010
                            match = re.findall(r"[\d]{4}", x)[0]
                            return match
                        except:
                            return np.nan

######################################################################
test = df.apply(lambda x: matcher(x))

print(f"Solved cases: {test.notna().sum()}")
test[test.notna()]

Solved cases: 500

0      03/25/93
1       6/18/85
2        7/8/71
3       9/27/75
4        2/6/96
         ...
495        1979
496        2006
497        2008
498        2005
499        1980
Length: 500, dtype: object

In [161]:
items = test[2].split("/")

if len(items[0]) == 1:
    items[0] = "0" + items[0]

if len(items[1]) == 1:
    items[1] = "0" + items[1]

if len(items[2]) == 2:
    items[2] = "19" + items[-1]

new_item = "/".join(items)

new_item

'07/08/1971'