# Assignment 1

In [1]:
import re
import numpy as np
import pandas as pd

In [2]:
doc = []
with open("data/dates.txt") as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head()

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
dtype: object

In [32]:
##############
def matcher1(x):
    try:
        # 04/20/2009; 04/20/09; 4/20/09; 4/3/09
        match = re.findall(r"[\d]{1,2}[/\-][\d]{1,2}[/\-][\d]{2,4}", x)[0]
        return match
    except:
        return np.nan

##############
def matcher2(x):
    try:
        # Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009
        match = re.findall(r"[^\W\d_]{3,}[\-\s\.]{1,2}[\d]{1,2}[\-\s\,]{1,2}[\d]{4}", x)[0]
        return match
    except:
        return np.nan

##############
def matcher3(x):
    try:
        # 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
        match = re.findall(r"[\d]{1,2}\s[^\W\d_]{3,}[\-\s\.]{1,2}[\d]{4}", x)[0]
        return match
    except:
        return np.nan

##############
def matcher4(x):
    try:
        # Feb 2009; Sep 2009; Oct 2010
        match = re.findall(r"[^\W\d_]{3,}\s[\d]{4}", x)[0]
        return match
    except:
        return np.nan

##############
def matcher5(x):
    try:
        # 6/2008; 12/2009
        match = re.findall(r"[\d]{1,2}/[\d]{4}", x)[0]
        return match
    except:
        return np.nan

##############
def matcher6(x):
    try:
        # 2009; 2010
        match = re.findall(r"[\d]{4}", x)[0]
        return match
    except:
        return np.nan

######################################################################
test = df.apply(lambda x: matcher4(x))

print(f"Solved cases: {test.notna().sum()}")
test[test.notna()].head(60)

Solved cases: 178

125         Jan 2001
126         Sep 2004
127         May 1982
128        June 2002
129         May 1972
130         Oct 1987
131         Oct 1996
132         Nov 2007
133        June 1994
134         Jan 1981
135         Oct 1985
136    February 1985
137         Feb 1983
138         Feb 1992
139         Oct 2012
140         Feb 1995
141         May 2016
142         Jan 1996
143         Oct 1992
144         Oct 2003
145         Oct 1999
146         Nov 2004
147         May 2001
148         Feb 1978
149         Sep 1989
150       March 1980
151        June 1990
152         Sep 2015
153         Jan 1972
154         Mar 1974
155         Oct 1974
156         May 1974
157         Feb 1990
158         Aug 2000
159         May 2001
160         Oct 2007
161         Oct 2016
162         Mar 1974
163         Jan 1994
164         Oct 1978
165      August 1975
166         Nov 1996
167         Oct 1979
168         Oct 1986
169         Oct 1995
170         Jan 2011
171         Oct 1972
172         Aug 1993
173         Oct 2006
174         Dec 1988
175         Oct 1983
176         May 2010
177         Jan 1990
178         Jun 1985
179         Dec 1982
180         Dec 1988
181      August 1995
182        June 1974
183         May 2008
184         Nov 2002
dtype: object

In [4]:
x = df[265]
print(x)

print(f"Match result: {matcher1(x)}")

.  Pt reports h/o difficulty with EtOH and opioids. EtOH: 1st use at age 10, regular use beginning in high school, more problematic at age 25 when started losing things.  Drinking 12 beers/day over past year since returning to State College from Alaska.  Unsure of heaviest use period.  h/o frequent blackouts.  Has passed out and woken up in variety of places.  h/o withdrawal symptoms, 1st detox at age 25, no h/o withdrawal seizure, no DTs.  opioids: 1st use at age 21 (perocet).  Began using daily at age 25, at worst was using 8 to 10 percocets per day (depending on dose).  Detox in April 1989, was using perioidically since back in State College, but has primarily been drinking.  Last use 3 mths ago.  no h/o suboxone or methadone.  No h/o accidental OD.  No h/o heroin use.  No h/o IVDU.  tobacco: 1 ppd since age 16, some interest in quitting, not right now.  H/o quitting for a week.

Match result: nan

In [5]:
df[df.str.contains("1st")]

241    sLanguage based learning disorder, dyslexia.  ...
265    .  Pt reports h/o difficulty with EtOH and opi...
dtype: object

In [37]:
def matcher(x):
    ### MATCHER 1
    try:
        # 04/20/2009; 04/20/09; 4/20/09; 4/3/09
        match = re.findall(r"[\d]{1,2}[/\-][\d]{1,2}[/\-][\d]{2,4}", x)[0]

        

        return match
    except:        
        ### MATCHER 2
        try:
            # Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009
            match = re.findall(r"[^\W\d_]{3,}[\-\s\.]{1,2}[\d]{1,2}[\-\s\,]{1,2}[\d]{4}", x)[0]
            return match
        except:
            ### MATCHER 3
            try:
                # 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
                match = re.findall(r"[\d]{1,2}\s[^\W\d_]{3,}[\-\s\.]{1,2}[\d]{4}", x)[0]
                return match
            except:
                ### MATCHER 4
                try:
                    # Feb 2009; Sep 2009; Oct 2010
                    match = re.findall(r"[^\W\d_]{3,}\s[\d]{4}", x)[0]
                    return match
                except:
                    ### MATCHER 5
                    try:
                        # 6/2008; 12/2009
                        match = re.findall(r"[\d]{1,2}/[\d]{4}", x)[0]
                        return match
                    except:
                        ### MATCHER 6
                        try:
                            # 2009; 2010
                            match = re.findall(r"[\d]{4}", x)[0]
                            return match
                        except:
                            return np.nan

######################################################################
test = df.apply(lambda x: matcher(x))

print(f"Solved cases: {test.notna().sum()}")
test[test.notna()]

Solved cases: 500

0      03/25/93
1       6/18/85
2        7/8/71
3       9/27/75
4        2/6/96
         ...
495        1979
496        2006
497        2008
498        2005
499        1980
Length: 500, dtype: object

In [14]:
### CASE 1

elem = 25
if "/" in test[elem]:
    items = test[elem].split("/")
if "-" in test[elem]:
    items = test[elem].split("-")

print(items)

if len(items[0]) == 1:
    items[0] = "0" + items[0]

if len(items[1]) == 1:
    items[1] = "0" + items[1]

if len(items[2]) == 2:
    items[2] = "19" + items[-1]

new_item = "/".join(items)

new_item

['4', '13', '82']

'04/13/1982'

In [26]:
### CASE 2
month_mapper = {
    1 : ("Jan", "Jan.", "January", "January."),
    2 : ("Feb", "Feb.", "February", "February."),
    3 : ("Mar", "Mar.", "March", "March."),
    4 : ("Apr", "Apr.", "April", "April."),
    5 : ("May", "May.", "May", "May."),
    6 : ("Jun", "Jun.", "June", "June."),
    7 : ("Jul", "Jul.", "July", "July."),
    8 : ("Aug", "Aug.", "August", "August."),
    9 : ("Sep", "Sep.", "September", "September."),
    10 : ("Oct", "Oct.", "October", "October."),
    11 : ("Nov", "Nov.", "November", "November."),
    12 : ("Dec", "Dec.", "December", "December."),
}

elem = 194
items = test[elem].replace(",", "").split(" ")

for i, k in month_mapper.items():
    if items[0] in k:
        items[0] = str(i)

if len(items[0]) == 1:
    items[0] = "0" + items[0]

if len(items[1]) == 1:
    items[1] = "0" + items[1]

new_item = "/".join(items)
new_item

'04/11/1990'

In [30]:
### CASE 3
elem = 150
items = test[elem].replace(",", "").split(" ")

for i, k in month_mapper.items():
    if items[1] in k:
        items[1] = str(i)

if len(items[0]) == 1:
    items[0] = "0" + items[0]

if len(items[1]) == 1:
    items[1] = "0" + items[1]

day = items[0]
month = items[1]

items[1] = day
items[0] = month

new_item = "/".join(items)
new_item

'03/12/1980'

In [44]:
### CASE 4: Feb 2009; Sep 2009; Oct 2010
elem = 229
items = test[elem].replace(",", "").split(" ")

for i, k in month_mapper.items():
    if items[0] in k:
        items[0] = str(i)

if len(items[0]) == 1:
    items[0] = "0" + items[0]

items.insert(0, "01")

new_item = "/".join(items)
new_item

'01/06/2011'

In [38]:
test[200:250]

200          July 26, 1978
201      December 23, 1999
202           May 15, 1989
203     September 06, 1995
204          Mar. 10, 1976
205           Jan 27, 1983
206        October 23 1990
207         August 12 2004
208     September 01, 2012
209          July 25, 1983
210        August 11, 1989
211         April 17, 1992
212          July 24, 1999
213          July 11, 1997
214          Sep. 10, 1974
215        August 14, 1981
216           Nov 11, 1988
217          June 13, 2011
218           May 14, 1989
219            Dec 14 1975
220          June 25, 2012
221           Oct 18, 1980
222           May 15, 1998
223        October 14 1974
224          July 25, 1998
225          June 15, 1972
226       January 07, 1991
227    September. 15, 2011
228         September 1985
229              June 2011
230               May 1986
231               May 2016
232              July 1977
233                   1990
234               Jul 2003
235              pOct 2015
236               May 1995
237          February 1976
238           January 1995
239               Feb 1978
240                   2011
241               May 2004
242               Nov 2010
243               Sep 2012
244                   2013
245         lNovember 1990
246              July 1981
247               May 1983
248              July 1995
249             April 1993
dtype: object