In [1]:
import numpy as np
import pandas as pd

import warnings

warnings.filterwarnings("ignore")

# Exploratory data analysis

In [2]:
train = pd.read_csv("data/train.csv", index_col = 0)
test = pd.read_csv("data/test.csv", index_col = 0)

print(f"Train shape: {train.shape}")
print(f"Test shape: {test.shape}")

Train shape: (250306, 33)
Test shape: (61001, 26)

In [3]:
train.head()

,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,state,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
ticket_id,,,,,,,,,,,,,,,,,,,,,
22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,IL,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,MI,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
22062,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","SANDERS, DERRON",1449.0,LONGFELLOW,NaN,23658.0,P.O. BOX,DETROIT,MI,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
22084,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","MOROSI, MIKE",1441.0,LONGFELLOW,NaN,5.0,ST. CLAIR,DETROIT,MI,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
22093,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","NATHANIEL, NEAL",2449.0,CHURCHILL,NaN,7449.0,CHURCHILL,DETROIT,MI,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN

In [4]:
# To save the variables that are not in the test set
test_missing_features = []

for i in train.columns:
    if i not in test.columns:
        test_missing_features.append(i)

# To remove from the list the target variable "compliance" as I'll need it later
test_missing_features.pop()

test_missing_features

['payment_amount',
 'balance_due',
 'payment_date',
 'payment_status',
 'collection_status',
 'compliance_detail']

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250306 entries, 22056 to 325561
Data columns (total 33 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   agency_name                 250306 non-null  object
 1   inspector_name              250306 non-null  object
 2   violator_name               250272 non-null  object
 3   violation_street_number     250306 non-null  float64
 4   violation_street_name       250306 non-null  object
 5   violation_zip_code          0 non-null       float64
 6   mailing_address_str_number  246704 non-null  float64
 7   mailing_address_str_name    250302 non-null  object
 8   city                        250306 non-null  object
 9   state                       250213 non-null  object
 10  zip_code                    250305 non-null  object
 11  non_us_str_code             3 non-null       object
 12  country                     250306 non-null  object
 13  ticket_issued_date          250306 non-null  object
 14  hearing_date                237815 non-null  object
 15  violation_code              250306 non-null  object
 16  violation_description       250306 non-null  object
 17  disposition                 250306 non-null  object
 18  fine_amount                 250305 non-null  float64
 19  admin_fee                   250306 non-null  float64
 20  state_fee                   250306 non-null  float64
 21  late_fee                    250306 non-null  float64
 22  discount_amount             250306 non-null  float64
 23  clean_up_cost               250306 non-null  float64
 24  judgment_amount             250306 non-null  float64
 25  payment_amount              250306 non-null  float64
 26  balance_due                 250306 non-null  float64
 27  payment_date                41113 non-null   object
 28  payment_status              250306 non-null  object
 29  collection_status           36897 non-null   object
 30  grafitti_status             1 non-null       object
 31  compliance_detail           250306 non-null  object
 32  compliance                  159880 non-null  float64
dtypes: float64(13), object(20)
memory usage: 64.9+ MB

In [6]:
# Drop variables that I don't have in the test set to avoid data leakage
train = train.drop(test_missing_features, axis = 1)
# Drop variables with too many missing values
train = train.drop(["violation_zip_code", "non_us_str_code", "grafitti_status"], axis = 1)
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250306 entries, 22056 to 325561
Data columns (total 24 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   agency_name                 250306 non-null  object
 1   inspector_name              250306 non-null  object
 2   violator_name               250272 non-null  object
 3   violation_street_number     250306 non-null  float64
 4   violation_street_name       250306 non-null  object
 5   mailing_address_str_number  246704 non-null  float64
 6   mailing_address_str_name    250302 non-null  object
 7   city                        250306 non-null  object
 8   state                       250213 non-null  object
 9   zip_code                    250305 non-null  object
 10  country                     250306 non-null  object
 11  ticket_issued_date          250306 non-null  object
 12  hearing_date                237815 non-null  object
 13  violation_code              250306 non-null  object
 14  violation_description       250306 non-null  object
 15  disposition                 250306 non-null  object
 16  fine_amount                 250305 non-null  float64
 17  admin_fee                   250306 non-null  float64
 18  state_fee                   250306 non-null  float64
 19  late_fee                    250306 non-null  float64
 20  discount_amount             250306 non-null  float64
 21  clean_up_cost               250306 non-null  float64
 22  judgment_amount             250306 non-null  float64
 23  compliance                  159880 non-null  float64
dtypes: float64(10), object(14)
memory usage: 47.7+ MB

In [7]:
# Get not null values to filter by target variable
# If they have null values in the target variable, that means the citizen wasn't
# responsible
not_null_indexes = train.loc[:, "compliance"].dropna().index
train = train.loc[not_null_indexes, :]
train.head()

,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,mailing_address_str_number,mailing_address_str_name,city,state,zip_code,...,violation_description,disposition,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,compliance
ticket_id,,,,,,,,,,,,,,,,,,,,,
22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,3.0,S. WICKER,CHICAGO,IL,60606,...,Failure of owner to obtain certificate of comp...,Responsible by Default,250.0,20.0,10.0,25.0,0.0,0.0,305.0,0.0
27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,2959.0,Martin Luther King,Detroit,MI,48208,...,Failed To Secure Permit For Lawful Use Of Buil...,Responsible by Determination,750.0,20.0,10.0,75.0,0.0,0.0,855.0,1.0
22046,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","KASIMU, UKWELI",6478.0,NORTHFIELD,2755.0,E. 17TH,LOG BEACH,CA,908041512,...,Failure of owner to obtain certificate of comp...,Responsible by Default,250.0,20.0,10.0,25.0,0.0,0.0,305.0,0.0
18738,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Deerwood Development Group Inc, Deer",8027.0,BRENTWOOD,476.0,Garfield,Clinton,MI,48038,...,Failed To Secure Permit For Lawful Use Of Land,Responsible by Default,750.0,20.0,10.0,75.0,0.0,0.0,855.0,0.0
18735,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Rafee Auto Services L.L.C., RAF",8228.0,MT ELLIOTT,8228.0,Mt. Elliott,Detroit,MI,48211,...,Noncompliance/Grant Condition/BZA/BSE,Responsible by Default,100.0,20.0,10.0,10.0,0.0,0.0,140.0,0.0

In [8]:
# Now let's get the categorical and numerical column names
categorical_variables = []
numerical_variables = []

for column in train.columns:
    if train[column].dtype == "object":
        categorical_variables.append(column)
    else:
        numerical_variables.append(column)

## Categorical variables

In [9]:
for column in train.loc[:, categorical_variables].columns:
    print(train[column].value_counts())
    print("-" * 50)

Buildings, Safety Engineering & Env Department    95863
Department of Public Works                        52445
Health Department                                  7107
Detroit Police Department                          4464
Neighborhood City Halls                               1
Name: agency_name, dtype: int64
--------------------------------------------------
Morris, John        11604
Samaan, Neil J       8720
O'Neal, Claude       8075
Steele, Jonathan     6962
Devaney, John        6837
                    ...
Clark, Marcel           1
Thomas, Duane           1
Coleman, Lanetha        1
Paylor, Ava             1
Malone, Melanie         1
Name: inspector_name, Length: 159, dtype: int64
--------------------------------------------------
INVESTMENT, ACORN                624
INVESTMENT CO., ACORN            343
BANK, WELLS FARGO                253
MILLER, JOHN                     177
STEHLIK, JERRY                   158
                                ...
MCSHAN W JR, -                     1
NEWYORK, BANK OF                   1
WILLIAMS, EMILE                    1
JAWAD, HUSSEIN                     1
2740 W. Chicago Apts. LDHA, *      1
Name: violator_name, Length: 84656, dtype: int64
--------------------------------------------------
SEVEN MILE     2373
MCNICHOLS      2144
LIVERNOIS      1607
GRAND RIVER    1185
EVERGREEN      1067
               ...
CUSHING           1
CLARK CT          1
CHIPMAN           1
BEECH             1
ST THOMAS         1
Name: violation_street_name, Length: 1716, dtype: int64
--------------------------------------------------
PO BOX                  5754
P.O. BOX                4733
GRAND RIVER              890
LIVERNOIS                829
W. MCNICHOLS             687
                        ...
BRAMPTON                   1
WAXIE WAY SITE 100         1
ROBERSON                   1
W. 13 Mile Road            1
FAIRWAY DR. STE. 302       1
Name: mailing_address_str_name, Length: 28440, dtype: int64
--------------------------------------------------
DETROIT              87426
SOUTHFIELD            8790
Detroit               6374
DEARBORN              2408
detroit               2197
                     ...
BLOOMFEILD               1
SSTERLING HEIGHTS        1
FORT FORTH               1
TRUCKEE                  1
LONG BRANCH              1
Name: city, Length: 4093, dtype: int64
--------------------------------------------------
MI    143655
CA      3828
TX      1952
FL      1680
SC      1066
IL       896
OH       639
NY       535
MN       447
GA       405
NV       399
PA       371
UT       329
NJ       291
NC       290
VA       286
MD       250
AZ       245
OK       198
ME       151
AL       138
TN       138
WA       135
IA       116
OR       112
WI       112
KY       111
MA       110
CO        97
MO        96
IN        71
UK        62
AR        56
NB        55
CT        49
LA        47
MS        44
DC        44
ON        43
DE        36
RI        30
KS        26
ID        23
MT        20
NM        18
BC        16
SD        15
WY        12
AK        11
NH         9
VT         6
HI         6
WV         5
PR         5
QC         4
QL         2
ND         1
VI         1
BL         1
Name: state, dtype: int64
--------------------------------------------------
48221    4524
48227    4467
48235    4299
48219    3940
48228    3681
         ...
19460       1
92124       1
92886       1
48943       1
89120       1
Name: zip_code, Length: 4622, dtype: int64
--------------------------------------------------
USA     159869
Cana         6
Aust         2
Egyp         2
Germ         1
Name: country, dtype: int64
--------------------------------------------------
2007-12-21 09:00:00    60
2010-02-17 09:00:00    57
2008-01-22 09:00:00    56
2006-03-08 09:00:00    52
2008-04-29 09:00:00    52
                       ..
2007-07-05 13:45:00     1
2007-08-24 14:10:00     1
2008-10-07 12:35:00     1
2007-03-05 13:50:00     1
2009-01-09 00:35:00     1
Name: ticket_issued_date, Length: 68097, dtype: int64
--------------------------------------------------
2005-12-20 09:00:00    590
2005-12-22 10:30:00    546
2005-12-20 10:30:00    538
2005-12-21 10:30:00    529
2005-12-22 09:00:00    511
                      ...
2009-05-26 10:30:00      1
2011-04-19 15:00:00      1
2009-05-22 15:00:00      1
2012-05-11 09:00:00      1
2011-03-11 15:00:00      1
Name: hearing_date, Length: 5970, dtype: int64
--------------------------------------------------
9-1-36(a)     64414
9-1-81(a)     23145
22-2-88       19073
9-1-104       16927
22-2-88(b)     4879
              ...
9-1-406           1
9-1-310           1
19850901          1
9-1-46(a)         1
22-2-49(b)        1
Name: violation_code, Length: 189, dtype: int64
--------------------------------------------------
Failure of owner to obtain certificate of compliance                                                        64414
Failure to obtain certificate of registration for rental property                                           23145
Failure of owner to keep property, its sidewalks, or adjoining public property free from solid waste        19072
Excessive weeds or plant growth one- or two-family dwelling or commercial Building                          16927
Allowing bulk solid waste to lie or accumulate on or about the premises                                      4879
                                                                                                            ...
Failure to provide sufficient lighting for common hall(s), stairway(s) , or means of egress for building        1
Open Storage/ Residential/ Inoperable Vehicles (R3)                                                             1
Other Non-Compliance with Land Use Requirements (TM)                                                            1
Insufficient parking                                                                                            1
Open Storage/ Non-residential/ Other (M4)                                                                       1
Name: violation_description, Length: 207, dtype: int64
--------------------------------------------------
Responsible by Default                138340
Responsible by Admission               13701
Responsible by Determination            7644
Responsible (Fine Waived) by Deter       195
Name: disposition, dtype: int64
--------------------------------------------------

In [10]:
# I'll drop some variables that add no relevant information to the model
to_drop = ["violator_name", "violation_street_name", "mailing_address_str_name", "city", "zip_code", "violation_description"]
train = train.drop(to_drop, axis = 1)

In [11]:
# Transforming datetime variables to the corresponding format
train.ticket_issued_date = pd.to_datetime(train.ticket_issued_date)
train.hearing_date = pd.to_datetime(train.hearing_date)

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159880 entries, 22056 to 284333
Data columns (total 18 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   agency_name                 159880 non-null  object
 1   inspector_name              159880 non-null  object
 2   violation_street_number     159880 non-null  float64
 3   mailing_address_str_number  157322 non-null  float64
 4   state                       159796 non-null  object
 5   country                     159880 non-null  object
 6   ticket_issued_date          159880 non-null  datetime64[ns]
 7   hearing_date                159653 non-null  datetime64[ns]
 8   violation_code              159880 non-null  object
 9   disposition                 159880 non-null  object
 10  fine_amount                 159880 non-null  float64
 11  admin_fee                   159880 non-null  float64
 12  state_fee                   159880 non-null  float64
 13  late_fee                    159880 non-null  float64
 14  discount_amount             159880 non-null  float64
 15  clean_up_cost               159880 non-null  float64
 16  judgment_amount             159880 non-null  float64
 17  compliance                  159880 non-null  float64
dtypes: datetime64[ns](2), float64(10), object(6)
memory usage: 23.2+ MB

In [13]:
# Now let's get the categorical and numerical column names
categorical_variables = []
numerical_variables = []

for column in train.columns:
    if train[column].dtype == "object":
        categorical_variables.append(column)
    else:
        numerical_variables.append(column)

In [14]:
train = pd.get_dummies(train, prefix = categorical_variables, columns = categorical_variables)
train.shape

(159880, 433)

## Numerical variables

In [15]:
numerical_variables

['violation_street_number',
 'mailing_address_str_number',
 'ticket_issued_date',
 'hearing_date',
 'fine_amount',
 'admin_fee',
 'state_fee',
 'late_fee',
 'discount_amount',
 'clean_up_cost',
 'judgment_amount',
 'compliance']

In [16]:
train.loc[:, numerical_variables].describe()

,violation_street_number,mailing_address_str_number,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,compliance
count,1.598800e+05,1.573220e+05,159880.000000,159880.0,159880.0,159880.000000,159880.000000,159880.0,159880.000000,159880.000000
mean,1.071316e+04,9.133714e+03,357.035295,20.0,10.0,33.651512,0.195959,0.0,420.650218,0.072536
std,3.623159e+04,3.657729e+04,675.655580,0.0,0.0,67.692916,4.290344,0.0,742.555062,0.259374
min,0.000000e+00,1.000000e+00,0.000000,20.0,10.0,0.000000,0.000000,0.0,0.000000,0.000000
25%,4.920000e+03,5.320000e+02,200.000000,20.0,10.0,10.000000,0.000000,0.0,250.000000,0.000000
50%,1.039800e+04,2.418000e+03,250.000000,20.0,10.0,25.000000,0.000000,0.0,305.000000,0.000000
75%,1.578325e+04,1.284400e+04,250.000000,20.0,10.0,25.000000,0.000000,0.0,305.000000,0.000000
max,1.415411e+07,5.111345e+06,10000.000000,20.0,10.0,1000.000000,350.000000,0.0,11030.000000,1.000000

In [17]:
# I'll drop some variables that add no relevant information to the model
to_drop = ["violation_street_number", "mailing_address_str_number"]
train = train.drop(to_drop, axis = 1)

## Datetime variables

In [60]:
# Datetime variables cannot be fed into the model just like that
# Let's do some preprocessing
# ticket_issued_date
# hearing_date

train["time_diff"] = train.hearing_date - train.ticket_issued_date
train.loc[:, "time_diff"] = train["time_diff"].map(lambda x: pd.Timedelta(x) / np.timedelta64(1, "M"))
train["hearing_month"] = train.hearing_date.dt.month
train["ticket_issued_month"] = train.ticket_issued_date.dt.month

train = train.drop(["hearing_date", "ticket_issued_date"], axis = 1)

In [66]:
train = train.dropna()

# Model selection

In [61]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression

In [68]:
seed = 42
scaler = MinMaxScaler()

X = train.drop("compliance", axis = 1)
X = scaler.fit_transform(X)
y = train.compliance

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = seed)

model = LogisticRegression(n_jobs = -1, random_state = seed)

model.fit(X_train, y_train)

predictions = model.predict(X_test)

train_score = model.score(X_train, y_train)
test_score = model.score(X_test, y_test)

print(f"Train score: {train_score}")
print(f"Test score: {test_score}")

Train score: 0.9324948429500831
Test score: 0.9338327403918425

In [73]:
(unique, counts) = np.unique(predictions, return_counts=True)
frequencies = np.asarray((unique, counts)).T

print(frequencies)

[[0.0000e+00 3.9649e+04]
 [1.0000e+00 2.6500e+02]]